<div 
    (appClickOutside)="showDropdown = false" 
    *ngIf="config.enabled">
    
    <button 
        (click)="showDropdown=!showDropdown;"
        [ngClass]="config.filterButtonClass ? config.filterButtonClass:'mx-2'">
        <i class=" fa fa-caret-down"></i>
    </button>

    <div *ngIf="showDropdown"
        class="position-absolute primary-dropdown"
        [ngClass]="config.dropdownContainerClass ? config.dropdownContainerClass :''">
        
        <form 
            [formGroup]="form" 
            (ngSubmit)="onSubmit()"
            [ngClass]="config.formContainerClass ? config.formContainerClass :''">
            
            <div class="columns" *ngIf="config.equalsEnabled">
                <div i18n class="column" 
                    [ngClass]="config.formFilterClass ? config.formFilterClass :''">
                    Equals:
                </div>
                <div class="column"
                    [ngClass]="config.formInputClass ? config.formInputClass :''">
                    <input type="text" 
                    formControlName="equalValue">
                </div>
            </div>
            
            <div *ngIf="config.rangeEnabled">
                <div class="columns mt-2"> 
                    <div i18n class="column"
                        [ngClass]="config.formFilterClass ? config.formFilterClass :''">
                        From:
                    </div>
                    <div class="column"
                        [ngClass]="config.formInputClass ? config.formInputClass :''">
                        <input type="number" formControlName="fromValue">
                    </div>
                </div>
                <div class="columns mt-2"> 
                    <div i18n class="column"
                        [ngClass]="config.formFilterClass ? config.formFilterClass :''">
                        To:
                    </div>
                    <div class="column"
                        [ngClass]="config.formInputClass ? config.formInputClass :''">
                        <input type="number" formControlName="toValue">
                    </div>
                </div>
            </div>

            <button i18n type="submit"
                [ngClass]="config.formFilterButton ? config.formFilterButton :''"
                [disabled]="filterButtonDisabled">
                Filter
            </button>
        </form>
        <button i18n (click)="clearFilter()"
            [ngClass]="config.formClearButton ? config.formClearButton :''">
            Clear Filter
        </button>
    </div>

</div>