<div *ngIf="config.searchEnabled"
    [ngClass]="config.searchContainerClass? config.searchContainerClass:'columns'">
    
    <form (ngSubmit)="onSubmit()"
    [ngClass]="config.formContainerClass? config.formContainerClass:'columns'">
        <input 
            type="text" 
            (ngModelChange)="checkForValue()"
            [formControl]="searchValue"
            [ngClass]="config.inputClass ? config.inputClass : 'px-4'">
        <button i18n 
            type="submit"
            [disabled]="searchButtonDisabled"
            [ngClass]="config.buttonClass ? config.buttonClass : 'primary-button p-2 mx-4 px-6'">
            Search
        </button>
    </form>
    <button i18n (click)="clearSearch()"
        [ngClass]="config.clearButtonClass ? config.clearButtonClass : 'primary-button p-2 mx-4'">
        Clear
    </button>
</div>