<div *ngIf="config.searchEnabled"
    [ngClass]="config.searchContainerClass? config.searchContainerClass:'columns'">
    
    <form (ngSubmit)="onSubmit()"
        [ngClass]="config.formContainerClass? config.formContainerClass:'columns'">
        
        <input 
            type="text" 
            (ngModelChange)="checkForValue()"
            [formControl]="searchValue"
            [ngClass]="config.inputClass ? config.inputClass : 'px-4'">
        <button 
            type="submit"
            [disabled]="searchButtonDisabled"
            [ngClass]="config.buttonClass ? config.buttonClass : 'primary-button p-2 mx-4 px-6'">
            {{languageConfig.Search["Search"]}}
        </button>
    </form>
    <!-- <button (click)="clearSearch()"
        [disabled]="searchClearButtonDisabled"
        [ngClass]="config.clearButtonClass ? config.clearButtonClass : 'primary-button p-2'">
        {{languageConfig.Search["Clear"]}}
    </button> -->
</div>