<div *ngIf="config.enabled"
    [ngClass]="config.sortingContainerClass ? config.sortingContainerClass : ''">
    
    <button (click)="applySorting()"
        [ngClass]="config.sortingButtonClass ? config.sortingButtonClass : 'mx-1 px-1'">
        
        <div *ngIf="selectedSortOrder == 1">
            <div class="columns">
                <i class="has-opacity-3" [ngClass]="config.sortingUpClass ? config.sortingUpClass : 'fa fa-caret-up'"></i>
                <i class="has-opacity-3" [ngClass]="config.sortingDownClass ? config.sortingDownClass : 'fa fa-caret-down'"></i>
            </div>
        </div>

        <div *ngIf="selectedSortOrder == 2">
            <i [ngClass]="config.sortingUpClass ? config.sortingUpClass : 'fa fa-caret-up'"></i>
        </div>
        
        <div *ngIf="selectedSortOrder == 3">
            <i [ngClass]="config.sortingDownClass ? config.sortingDownClass : 'fa fa-caret-down'"></i>
        </div>
    </button>
</div>